.hidden{

opacity:0;

transform:translateY(60px);

transition:1s;

}

.show{

opacity:1;

transform:translateY(0);

}

.star{

position:fixed;

width:2px;

height:2px;

background:white;

border-radius:50%;

pointer-events:none;

z-index:-1;

animation:floatStar linear infinite;

}

@keyframes floatStar{

from{

transform:translateY(0px);

}

to{

transform:translateY(120vh);

}

}

.cursorGlow{

position:fixed;

width:250px;

height:250px;

border-radius:50%;

background:radial-gradient(circle,rgba(0,255,170,.18),transparent 70%);

pointer-events:none;

transform:translate(-50%,-50%);

z-index:-2;

transition:.08s;

}
